mixin testimonials
    .testimonials
        .container
            .row
                .col-12
                    h2.testimonials__title What Our Tourist Say
            .row.no-gutters
                .col-5
                    img.testimonials__img(src="/dist/img/testimonials-1.png", alt="man in the mountines")
                .col-7
                    .testimonials__text.d-flex.flex-column
                        h3.testimonials__text-heading Sam Sumon
                        i.fas.fa-quote-left 
                        p.testimonials__text-paragraph But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system

