mixin testimonials
    .testimonials
        .container
            .row
                .col-12
                    h2.testimonials__title What Our Tourist Say
            .row.no-gutters
                .col-xl-5.col-lg-6.offset-lg-3.offset-xl-0.mb-xl-0.mb-md-3.col-md-10.offset-md-1.col-sm-12.mb-sm-4.col-12.mb-3
                    img.testimonials__img(src="/dist/img/testimonials-1.png", alt="man in the mountines")
                .col-xl-7.d-none.d-xl-block
                    .testimonials__text.d-flex.flex-column
                        h3.testimonials__text-heading Sam Sumon
                        i.fas.fa-quote-left 
                        p.testimonials__text-paragraph But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system
            .row.no-gutters
                .col-lg-10.offset-lg-1.d-xl-none.d-lg-block.col-md-10.offset-md-1.col-sm-12
                    .testimonials__text.d-flex.flex-column
                        h3.testimonials__text-heading Sam Sumon
                        i.fas.fa-quote-left 
                        p.testimonials__text-paragraph But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system

