.testimonials {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 119px;
    padding-bottom: 200px;

        @media screen and (max-width: 1199px) {
            padding-top: 100px;
            padding-bottom: 180px;
        }

        @media screen and (max-width: 991px) {
            padding-top: 80px;
            padding-bottom: 160px;
        }

        @media screen and (max-width: 765px) {
            padding-top: 60px;
            padding-bottom: 140px;
        }

        @media screen and (max-width: 575px) {
            padding-top: 40px;
            padding-bottom: 80px;
        }

    &__title {
        text-align: center;
        color: white;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 93px;
        letter-spacing: 0.5px;

        @media screen and (max-width: 575px) {
            margin-bottom: 40px;
        }
    }

    &__img {
        max-width: 96%;
        width: 100%;
        max-height: 100%;

        @media screen and (max-width: 991px) {
        max-width: 100%;
        }
        
    }

    &__text {
        padding-top: 51px;
        background-color: #333;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        padding-left: 60px;
        padding-right: 31px;
        padding-bottom: 41.7px;
        margin-left: -18px;

        @media screen and (max-width: 991px) {
        margin-left: 0;
        }

    }

    &__text-heading {
        color: #fefefe;
        font-size: 20px; 
        text-transform: uppercase;
        letter-spacing: -0.9px;
        margin-bottom: 30px;
    }

    &__text-paragraph {
        color: #e8e8e8;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -1.1px;
        padding-left: 1px;
        margin-top: -8px;
        margin-left: -1px;

        &::before {
            content: "";
            padding-left: 30px;
        }
    }

    &__text > i.fa-quote-left {
        color: #5474fd;
        float: left;
        padding-left: 1px;
        font-size: 18px;
    }     
    
}

.no-webp .testimonials {
    background-image: url(../img/testimonials-background.png);
}

.webp .testimonials {
    background-image: url(../webp/testimonials-background.webp);
}

img {
    max-width: 100%;
}