mixin about
    .about#about
        .container
            .about__wrapper
                .row
                    .col-lg-6.col-md-6.col-sm-12
                        h2.about__title Why Choose Us
                        .about__text
                            p.about__paragraph Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
                            p.about__paragraph Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                        a.btn.btn--about.about__btn(href='javascript:void(0)') EXPLORE PLACES
                    .col-lg-6.col-md-6.no-gutters.col-sm-12
                        .col-xl-8.offset-xl-1.mb-xl-1.col-lg-10.offset-lg-1.mb-lg-2.mb-md-5.no-gutters
                            img.about__image.about__image--top(src="/dist/img/about-1.png", alt="image of a house on a river")
                        .col-xl-8.offset-xl-4.col-lg-10.offset-lg-1.no-gutters
                            img.about__image.about__image--bottom(src="/dist/img/about-2.png", alt="image of the mountain cliff")


                