.about {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    &__wrapper {
        padding-top: 121px;
        padding-bottom: 118px;

        @media screen and (max-width: 991px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @media screen and (max-width: 765px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    
        @media screen and (max-width: 575px) {
            padding-top: 95px;
            padding-bottom: 20px;
        }
    }

    &__inner {
        position: relative;
    }

    &__title {
        padding-top: 82px;
        margin-bottom: 58px;
        color: white;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;

        @media screen and (max-width: 575px) {
            padding-top: 30px;
            text-align: center;
        }
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        color: #e8e8e8;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 25px;

        @media screen and (max-width: 575px) {
            padding: 0 15px;
        }
    }

    &__paragraph:first-child {
        margin-bottom: 29px;
    }

    &__paragraph:last-child {
        margin-bottom: 65px;
    }

    &__image {
        width: 97%;
    }

    &__image--bottom {
        margin-left: 10px;

        @media screen and (max-width: 1199px) {
            margin-left: 0;
        }
    }

    &__image--top {
        margin-left: 20px;

        @media screen and (max-width: 1199px) {
            margin-left: 0;
        }
    }
}

.no-webp .about {
    background-image: url(../img/about-background.png);
}

.webp .about {
    background-image: url(../webp/about-background.webp);
}

img {
    max-width: 100%;
}