mixin about
    .about
        .container
            .about__wrapper
                .row
                    .col-6
                        h2.about__title Why Choose Us
                        .about__text
                            p.about__paragraph Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
                            p.about__paragraph Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                        a.btn.btn--about.about__btn(href='javascript:void(0)') EXPLORE PLACES
                    .col-6
                        .col-9.offset-1.mb-1
                            img(src="/dist/img/about-1.png", alt="image of a house on a river")
                        .col-9.offset-3
                            img(src="/dist/img/about-2.png", alt="image of the mountain cliff")


                