.btn {
    color: white;
    text-decoration: none;
    background-color: #5474fd;
    white-space: nowrap;
    padding: 23px 39px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1.2px;

    &--header {
        padding-top: 19px;
        padding-bottom: 19px;
        padding-right: 50px;
        padding-left: 33px;
        border: none;
        letter-spacing: -0.3px;

        &:hover {
            background-color: #ff6363;
        }

    }

    &--about {
        padding: 23px 38px;
        line-height: 19px;
    
        &:hover {
            background-color: #ff6363;
        }
    }
    

    &--section-one {
        padding: 22px 62px;
        letter-spacing: 0.7px;
        line-height: 19px;

        &:hover {
            background-color: #ff6363;
        }
    }

    &--section-two {
        padding: 22px 62px;
        letter-spacing: 0.7px;
        line-height: 19px;

        &:hover {
            background-color: #ff6363;
        }
    }
}