mixin nav
    .nav#nav
        .container
            .row
                .col-12
                    .nav__wrapper.d-flex.justify-content-between
                        a.nav__link(href="#")
                            img.nav__logo(src="../../dist/img/logo.png", alt="bhromaon logo")
                        ul.nav__list.d-flex.justify-content-between.align-items-center
                            li.nav__item Who We Are
                            li.nav__item What We Do
                            li.nav__item Travel With Us
                            li.nav__item Contact Us
            