mixin section-two
    .section-two
        .container
            .row
                .col-xl-6.offset-xl-6.col-lg-7.offset-lg-4.col-md-10.offset-md-1.col-sm-12
                    .section-two__item
                        h3.section-two__title Spain
                        h2.section-two__subtitle Grand Spain Madrid
                        p.section-two__paragraph But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                        a.btn.btn--section-two.section-two__btn(href='javascript:void(0)') BOOK NOW