.section-two {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 229px;
    padding-bottom: 100px;

    @media screen and (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    @media screen and (max-width: 765px) {
        padding-top: 100px;
        padding-bottom: 70px;
    }

    @media screen and (max-width: 575px) {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    &__item {
        background-color: rgba($color: #232323, $alpha: 0.9);
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        padding-bottom: 69px;
        padding-left: 29px;
        padding-top: 50px;

        @media screen and (max-width: 991px) {
            padding-right: 26px;
        }

        &:hover {
            background-color: rgba($color: #232323, $alpha: 1.0);
            transition: ease .3s;
        }
    }

    &__title {
        color: #e8e8e8;
        font-size: 20px;
        padding-bottom: 30px;
    }

    &__subtitle {
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        padding-bottom: 21px;
        letter-spacing: -0.9px;
    }

    &__paragraph {
        color: #e8e8e8;
        font-size: 16px;
        margin-bottom: 64px;
        letter-spacing: -1px;
        line-height: 26px;
        
    }
}

.no-webp .section-two {
    background-image: url(../img/section-two-background.png);
}

.webp .section-two {
    background-image: url(../webp/section-two-background.webp);
}