mixin section-one
    .section-one
        .container
            .row
                .col-6
                    .section-one__item
                        h3.section-one__title Spain
                        h2.section-one__subtitle Grand Spain Madrid
                        p.section-one__paragraph But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                        a.btn.btn--section-one.section-one__btn(href='javascript:void(0)') BOOK NOW