mixin footer
    .footer
        .container
            .row
                .col-12
                    .footer__wrapper
                    .footer__inner.d-flex.flex-column
                        a.footer__link.align-self-center(href="#")
                            img.footer__logo(src="../../dist/img/logo.png", alt="bhromaon logo")
                        p.footer__subtitle.align-self-center Safe Travel Anywhere
                        .footer__icons.align-self-center.d-flex.justify-content-between
                            i.fab.fa-facebook-f
                            i.fab.fa-twitter
                            i.fab.fa-linkedin-in
                            i.fab.fa-youtube
                            i.fab.fa-pinterest