mixin footer
    .footer#footer
        .container
            .row
                .col-12
                    .footer__wrapper
                    .footer__inner.d-flex.flex-column
                        a.footer__link.align-self-center(href="#")
                            img.footer__logo(src="../../dist/img/logo-footer.png", alt="bhromaon white logo")
                            img.footer__logo--alt(src="../../dist/img/logo-footer-blue.png" alt="bhromaon blue logo")
                        p.footer__subtitle.align-self-center Safe Travel Anywhere
                        .footer__icons.align-self-center.d-flex.justify-content-between
                            a.footer__icons-link(href="https://www.facebook.com/" target="_blank")
                                i.fab.fa-facebook-f
                            a.footer__icons-link(href="https://twitter.com/home" target="_blank")
                                i.fab.fa-twitter
                            a.footer__icons-link(href="https://www.linkedin.com/" target="_blank")
                                i.fab.fa-linkedin-in
                            a.footer__icons-link(href="https://www.youtube.com/" target="_blank")
                                i.fab.fa-youtube
                            a.footer__icons-link(href="https://www.pinterest.com/" target="_blank")
                                i.fab.fa-pinterest