.footer {
    background-color: #232323;

    &__wrapper {
        padding-top: 120px;
    }

    &__inner {
        padding-bottom: 50px;
    }
    
    &__subtitle {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    &__icons {
        max-width: 160px;
        width: 100%;
    }
}