.footer {
    background-color: #232323;
    // background-image: url(/dist/img/footer-background-full.png);
    // background-position: top;
    // background-repeat: no-repeat;

    &__wrapper {
        padding-top: 120px;

        @media screen and (max-width: 1199px) {
            padding-top: 100px;
        }
    
        @media screen and (max-width: 991px) {
            padding-top: 80px;
        }
    
        @media screen and (max-width: 765px) {
            padding-top: 60px;
        }
    
        @media screen and (max-width: 575px) {
            padding-top: 40px;
        }
    }

    &__inner {
        padding-bottom: 50px;
    }
    
    &__subtitle {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-bottom: 28px;
    }

    &__icons {
        max-width: 160px;
        width: 100%;
        max-width: 167px;
    }

    &__icons-link {
        text-decoration: none;
        color: #e8e8e8;
    }

    &__icons-link:first-child:hover {
        color: #3B5CA0;
    }

    &__icons-link:nth-child(2):hover {
        color: #1DA1F2
    }

    &__icons-link:nth-child(3):hover {
        color: #0077B5
    }

    &__icons-link:nth-child(4):hover {
        color: #FF0000;
    }

    &__icons-link:last-child:hover {
        color: #E60023;
    }

    &__logo--alt {
        display: none;
    }

    &__link {

        margin-bottom: 16px;

        &:hover> .footer__logo {
            display: none;
        }
        
        &:hover> .footer__logo--alt {
            display: block;
        }
    }
}