mixin panel
    .panel
        .container
            .row
                .col-4                   
                    .panel__item.d-flex.flex-column.align-items-center
                        .panel__icon.panel__icon--search
                            svg.icons.icons--panel
                                use(xlink:href="#icon-search")
                        h2.panel__title Search Places
                .col-4
                    .panel__item.d-flex.flex-column.align-items-center
                        .panel__icon.panel__icon--check
                            svg.icons.icons--panel
                                use(xlink:href="#icon-check")
                        h2.panel__title Select Places
                .col-4
                    .panel__item.d-flex.flex-column.align-items-center
                        .panel__icon.panel__icon--like
                            svg.icons.icons--panel
                                use(xlink:href="#icon-like")
                        h2.panel__title Book &amp; Enjoy


