.panel {
    background-color: #333333;
    // background-image: url(/dist/img/panel-background-full.png);
    // background-position: top;
    // background-repeat: no-repeat;

    &__item {
        padding-top: 95px;

        @media screen and (max-width: 991px) {
            padding-top: 40px;
        }
    
        @media screen and (max-width: 765px) {
            padding-top: 30px; 
        }
    
        @media screen and (max-width: 575px) {
            padding-top: 20px;
        }
    }

    &__icon {
        margin-bottom: 24px;
    }

    &__icon--search {
        color: #5474fd;
    }

    &__icon--check {
        color: #ff6363;
    }

    &__icon--like {
        color: #00a2ff;
    }

    &__title {
        color: #e8e8e8;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        padding-bottom: 112px;
        pointer-events: none;
    
        @media screen and (max-width: 991px) {
            padding-bottom: 56px;
        }

        @media screen and (max-width: 765px) {
            padding-bottom: 36px;
        }

        @media screen and (max-width: 575px) {
            padding-bottom: 26px;
        }
    }


}