.icons {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &--header {
        color: white;
        width: 1.5em;
        height: 1.5em;
    }

    &--scroll {
        color: white;
        width: 1em;
        height: 1em;
    }

    &--nav {
        color: white;
        width: 25px;
        height: 25px;
    }

    &--panel {
        width: 72px;
        height: 72px;

        &:hover {
            fill: white;
            fill-opacity: 1;
        }
    }

}